<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body class="game-page">

<div id="timer"></div>
<div id="scoreDisplay">Score: 0</div>
<h2 id="teamTitel"></h2>

<div class="main-content">

    <h3 id="opdrachtNummer"></h3>

    <div id="vraagContainer">
        <p id="vraag"></p>
        <input type="text" id="antwoordInput">
        <button id="actieBtn" onclick="verwerkActie()">Controleer</button>
        <p id="feedback"></p>
    </div>

</div>

<div id="hintContainer">
    <button id="hintBtn" onclick="geefHint()">Hint</button>

    <div id="hintBlocks">
        <span class="hintBlock"></span>
        <span class="hintBlock"></span>
        <span class="hintBlock"></span>
    </div>

    <p id="hintText"></p>
</div>

<div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
</div>

<img src="{{ url_for('static', filename='logo.png')}}" alt="Logo" class="logo">

<!-- HINT OVERLAY -->
<div id="hintOverlay">
    <div id="hintModal">
        <button id="closeHint">&times;</button>
        <p id="hintTitle" style="display:none; font-weight: bold; margin-bottom: 10px;">
            Hint:
        </p>
        <p id="hintModalText"></p>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/script.js')}}"></script>
</body>
</html>