{% extends "base.html" %}

{% block content %}

    <form id="puzzleForm">
        <div id="feedback"></div>
        <input type="text" id="answerInput" placeholder="input answer here">
        <button type="submit" id="submitButton">Submit</button>
    </form>

    <a href="end.html" id="nextPageButton" hidden="true"><button type="button">Go to the next page</button></a>

    <script>
        const correctAnswer = "hint3";
        const form = document.getElementById("puzzleForm");
        const input = document.getElementById("answerInput");
        const submitButton = document.getElementById("submitButton");
        const nextPageButton = document.getElementById("nextPageButton");

        form.addEventListener("submit", function(event) {
            event.preventDefault();

            const userAnswer = input.value.trim();

            if (userAnswer === correctAnswer) {
                document.getElementById("feedback").innerHTML = "Dat was inderdaad het juiste antwoord, je kan nu naar de volgende puzzel gaan!";
                nextPageButton.style.display = "inline-block";

                input.disabled = true;
                submitButton.disabled = true;
                nextPageButton.hidden=false;
            } else {
                document.getElementById("feedback").innerHTML = "Dat was niet het juiste antwoord, probeer het over 5s opnieuw";
                submitButton.disabled = true;

                setTimeout(() => {
                    submitButton.disabled = false;
                    document.getElementById("feedback").innerHTML = "";
                }, 5000);
            }
        });
    </script>
{% endblock %}