<!doctype html>
<html>
    <head>
        <!-- TODO add title?-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Scaling (note that scaling intertwines in CSS-options such as vh instead of pixels!)-->
    </head>
    <body>
        <p>
            Gefeliciteerd, je hebt het einde van de quiz gehaald!
            <br>
            Je hebt er zolang over gedaan: MM:SS
            <br>
            Je hebt zoveel hints gebruikt: ???
        </p>
<!-- Resetting will be performed by the host hence we commented out the reset-button from the endpage-->
        <!-- <div class="ResetOptie">
        <hr>
        <form action="{{ url_for('reset') }}" method="post">
            <button type="submit">reset team</button>
        </form>
    </div> -->
    </body>
</html>