<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welkom!</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <body class="achtergrond">
            <div class="qr-heading">
                <h1>Scan de QR-code om te beginnen!</h1>
                <img src="/qr.png" class="qr-code" alt="QR code">
            </div>

            <div class="ResetOptie">
                <hr>
                <form action="{{ url_for('reset') }}" method="post">
                    <button type="submit">reset team</button>
                </form>
            </div>
        </body>

    </head>
</html>