<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start - Het Spel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

<div class="main-content">
    <div class="content-wrapper">

        <h1 class="start-title">Muziekautomaat</h1>
        <div class="start-subtitle">Het Teamspel</div>
        <p>Klaar om te beginnen?</p>

        <div class="video-wrapper">
            <iframe 
                src="https://www.youtube.com/embed/LJXzFeq1AwI"
                allowfullscreen>
            </iframe>
        </div>

        <div class="start-button-wrapper">
            <button onclick="gaNaarHome()">Start Spel</button>
        </div>

    </div>
</div>

<img src="{{ url_for('static', filename='logo.png')}}" alt="Logo" class="logo">
<script src="{{ url_for('static', filename='scripts/script.js')}}"></script>
</body>
</html>